body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}



/* Header */
.header {
    width: 100%;
    padding: 15px 0px 15px;
    background-color: rgb(26, 24, 24);
    background-repeat: repeat;
    background-size: contain;

    position: static;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__text {
    text-decoration: none;
    transition: opacity .1s linear;

}

.header__text:hover {
    opacity: 0.6;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    transition: all .1s linear;
}

.header__logo:hover {
    color: rgb(226, 226, 226);
    opacity: 0.6;
}

/* Nav */
.navbar {
    box-shadow: 5px 5px 21px rgb(34, 34, 34);
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0 10px;
}

.nav-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    font-size: 20px;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav-link:hover {
    color: #fce38a;
}

.nav-link:hover:after,
.nav-link.active:after {
    opacity: 1;
}

.nav-link.active {
    color: #fce38a;
}

.filler {
    height: 10vw;
}

/* intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../img/pepega.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 1;
}

.filter {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    opacity: 0.85;
    position: absolute;
    z-index: 2;

}

.intro__inner {
    font-size: 36px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: rgb(165, 165, 165);
    z-index: 3;
}

.intro__title {
    color: #fff;
    font-size: 130px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    z-index: 3;
}

.intro__title:after {
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    margin: 60px auto;

    background-color: #fff;
}

.intro__suptitle {
    margin-bottom: 20px;
    border: 3px solid rgba(99, 99, 99, 0.7);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    color: #000;
}

/* btn */
.button {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 70px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: all .1s linear;
}

.button:hover {
    background-color: #fff;
    color: #333;
}

/* content */
.content {
    width: 100vw;
    height: 30vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__text {
    font-family: 'Kaushan Script', cursive;
    color: white;
    text-transform: uppercase;
}

/* Section */
.section {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title {
    font-family: 'Kaushan Script', cursive;
    font-size: 65px;
}

.suptitle {
    font-size: 24px;
}

.suptitle:after {
    content: "";
    display: block;
    margin: 30px auto;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.section__header {
    text-align: center;
}

.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 0;
    color: #333;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #f38181;
}

.section__text {
    font-size: 20px;
    color: #333;
    text-align: left
}

/* Card */
.card {
    margin-top: 30px;
    width: 100%;
    background: linear-gradient(to right, #f38181, #fce38a);
}

.sub__card {
    text-align: center;
    margin-top: 30px;
    width: 30%;
}

.card__inner {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.card__inner:hover .card__img img {
    opacity: .7;
}

.card__inner:hover .card__text {
    opacity: .03;
}

.card__img {
    padding-top: 10px
    background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: transform .2s linear;
}

.card__img img {
    max-height: 400px;
    width: 100%;
    height: 100%;
    display: block;
    transition: opacity .1s linear;
}

img {
    max-height: 400px;
    width: 400px;
}

.card__text {
    width: 32.66%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

.card__info {
    margin-top: 20px;
    text-align: center;
}

.card__name {
    margin-bottom: 5px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.card__prof {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}

.container {
}

.cont {
    width: 50%;
    text-align: center;
}

.align {
    text-align: center
}

@media screen and (max-width: 991px) {
    .nav-link:after {
        display: none;
    }
    .navbar-collapse {
        display: block;
    }
    .intro__inner {
        font-size: 20px;
    }
    .intro__title {
        font-size: 90px;
    }
}

@media screen and (max-width: 850px) {
    .intro__title {
        font-size: 71px;
    }
}

@media screen and (max-width: 400px) {
    .intro__title {
        font-size: 60px;
    }
    .intro__inner {
        font-size: 17px;
    }
}

@media screen and (max-width: 350px) {
    .intro__title {
        font-size: 50px;
    }
    .intro__inner {
        font-size: 15px;
    }
}
