body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}



/* Header */
.header {
    width: 100%;
    padding: 15px 0px 15px;
    background-color: rgb(26, 24, 24);
    background-repeat: repeat;
    background-size: contain;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__text {
    text-decoration: none;
    transition: opacity .1s linear;

}

.header__text:hover {
    opacity: 0.6;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}


/* navbar */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}

.filler {
    height: 100vw;
}


/* intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(32, 32, 32);
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: rgb(165, 165, 165);
}

.intro__title {
    color: #fff;
    font-size: 130px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    margin: 60px auto;

    background-color: #fff;
}

.intro__suptitle {
    margin-bottom: 20px;
    border: 3px solid rgba(99, 99, 99, 0.7);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    color: #000;
}



/* btn */
.button {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 70px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: all .1s linear;
}

.button:hover {
    background-color: #fff;
    color: #333;
}



/* content */
.content {
    width: 100vw;
    height: 30vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__text {
    font-family: 'Kaushan Script', cursive;
    color: white;
    text-transform: uppercase;
}

/* Section */
.section {
display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;

    background: url("../images/devices-bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section--gray {
    background-color: #f8f8f8;
}

.section--map {
    padding: 40px 0;
    background: #e6e6e6 url("../images/map-bg.jpg") center no-repeat / cover;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #f38181;
}

.section__text {
    font-size: 15px;
    color: #999;
}



/* Card */
.card {
    margin-top: 80px;
    display: flex no-wrap;
    justify-content: space-around;
}

.card__item {
    width: 32%;
}

.card__inner {
    position: relative;
    background-color: #95e1d3;
}

.card__inner:hover .card__img img {
    opacity: .1;
}

.card__inner:hover .card__text {
    opacity: 1;
}

.card__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: transform .2s linear;
}

.card__img img {
    display: block;
    transition: opacity .1s linear;
}

.card__text {
    width: 32.66%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

.card__info {
    margin-top: 20px;

    text-align: center;
}

.card__name {
    margin-bottom: 5px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.card__prof {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}
