{% extends "base.html" %}

{% block content %}
<div class="intro">
    <h1 class="intro__title">О проекте</h1>
    <p class="intro__inner display-6">Здесь вы можете найти информацию о нашем проекте</p>
</div>
<!--<div>-->
<!--    <p class="intro__suptitle display-5 m-3">Данный проект представляет собой некую модель магазина, где можно зарегестрироваться и войти,-->
<!--    а также добавить покупки в корзину и добавлять новые продаваемые предметы.</p>-->
<!--</div>-->
<section class="section">
    <div class="container">

        <div class="section__header">
            <h3 class="section__suptitle">Who we are</h3>
            <h2 class="section__title">Встречайте нашу команду</h2>
            <div class="section__text">
                <p>Наша команда каждый день усердно трудится, чтобы вы всегда были довольны результатом. </p>
            </div>
        </div>

    </div><!-- /.container -->
</section>

{% endblock %}