{% extends "base.html" %}

{% block content %}

    <form action="" method="post" class="m-5 mt-3">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-outline-dark") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}