{% extends "base.html" %}

{% block content %}
<a class="btn btn-outline-dark m-5 mb-0 mt-2" href="/add_goods">Добавить товар</a>
<form action="" method="post" class="m-5 mt-3">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.category.label }}<br>
        {{ form.category(class="form-control") }}<br>
        {% for error in form.category.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {% for subfield in form.price %}
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
        {% endfor %}
        {% for error in form.price.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-outline-dark") }}</p>
    <div>{{ message }}</div>
</form>
<section class="section m-3 mt-0">
{% for item in goods %}
    <div class="sub__card">
    <a href='/item_page/{{item.id}}' class="card mt-0 mb-2" style="text-decoration: none;">
        <div class="card__inner">
            <div class="card__img p-3">
                <img src="{{ url_for('static', filename='img/goods_img/{}'.format(item.photo_id))}}">
            </div>
            <div class="card__info">
                    <div class="card__name">{{item.name}}</div>
                    <div class="card__prof">Продавец: {{item.seller.name}} {{item.seller.surname}}</div>
                    <div class="card__prof">{{item.price}}$</div>
            </div>
        </div>
    </a>
        {% if current_user.is_authenticated and current_user == item.seller %}
            <div>
                <a href="/edit_goods/{{item.id}}" class="btn btn-outline-success m-0">Редактировать</a>
                <a href="/delete_goods/{{item.id}}" class="btn btn-outline-danger m-0">Удалить</a>
            </div>
        {% endif %}
    </div>
{% endfor %}
</section>
{% endblock %}