{% extends "base.html" %}

{% block content %}
<div class="section">
    <img src="{{url_for('static', filename='img/pepe.gif')}}">
    <div class="cont">
        <p class="section__title">{{item.name}}</p>
        <p class="section__suptitle">Описание: {{item.about}}</p>
        <p class="section__suptitle">Размеры: {{item.size}}</p>
        <p class="section__suptitle">Вес: {{item.weight}}</p>
        <a class="btn btn-outline-success">Купить</a>
    </div>
</div>
<div class="container">
    <h2>Комментарии: </h2>
    <form action="" method="post" class="mt-3">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-outline-dark") }}</p>
        <div>{{ message }}</div>
    </form>
    {% for comm in comments %}
        <div class="col-md6 border rounded mt-3">
            <div>
                {{comm.message}}
            </div>
            <div>
                Автор - {{comm.commentator.name}} {{comm.commentator.surname}}
            </div>
            {% if current_user.is_authenticated and current_user == comm.commentator %}
                <div>
                    <a href="/comment_delete/{{item.id}}" class="btn btn-outline-danger mt-3">Удалить</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}