{% extends "base.html" %}

{% block content %}
<div class="section mt-5">
    <img src="{{ url_for('static', filename='img/goods_img/{}'.format(item.photo_id))}}">
    <div class="cont">
        <p class="section__title">{{item.name}}</p>
        <p class="text display-6">Описание: {{item.about}}</p>
        {% if item.size != '' %}
        <p class="text display-6">Размеры: {{item.size}}</p>
        {% endif %}
        {% if item.weight != '' %}
        <p class="text display-6">Вес: {{item.weight}}</p>
        {% endif %}
        <p class="text display-4">{{item.price}}$</p>
        <a class="btn btn-outline-success" href="/make_order/{{current_user.id}}/{{item.id}}">Купить</a>
    </div>
</div>
<div class="container">
    <h2>Комментарии: </h2>
    <form action="" method="post" class="mt-3">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-outline-dark") }}</p>
        <div>{{ message }}</div>
    </form>
    {% for comm in comments %}
        <div class="col-md6 border rounded mt-3 p-2">
            <div>
                {{comm.message}}
            </div>
            <div>
                <a href="/user_page/{{comm.commentator_id}}">Автор - {{comm.commentator.name}} {{comm.commentator.surname}}</a>
            </div>
            {% if current_user.is_authenticated and current_user == comm.commentator %}
                <div>
                    <a href="/comment_delete/{{comm.id}}/{{item.id}}" class="btn btn-outline-danger mt-3">Удалить</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}