{% extends "base.html" %}

{% block content %}
<div class="cards-container">
    <h1 class="cards__header">Корзина</h1>
    {% if current_user.is_authenticated and current_user.name == 'admin' %}
    {% endif %}

    {% if len != 0 %}
    <div class="cards">
        {% for item in goods %}
            <div class="card-item">
            <div class="my__card">
                <a style="text-decoration: none;" href="/item_page/{{item.id}}">
                <img src="{{ url_for('static', filename='img/goods_img/{}.jpg'.format(item.photo_id)) }}" class="card__img" alt="">
                <div class="card-body card__info">
                    <h5 class="card__price">{{item.price}} руб</h5>
                        <p class="card__prof">{{item.name}}</p>
                </div></a>
            </div>
            </div>
        {% endfor %}
    </div>
    <div class="container">
    <div class="buttons__container p-3 m-5">
    <a href="#" class="button__text buy__button">Заказать</a>
    <a href="/fresh_cart" class="button__text buy__button m-2">Очистить</a>
    </div>
    </div>
    {% else %}
    <p>Вы пока не добавили в корзину ни одного товара!</p>
    {% endif %}
</div>
{% endblock %}